Data Collection

In [79]:
# Import packages and import data
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.cm as cmx
import matplotlib.colors as colors
import math
import pylab
import scipy.stats as stats
%matplotlib inline
# import folium
# from wordcloud import WordCloud
url = 'https://raw.githubusercontent.com/q-x-yang/Datasets/master/listings-1.csv'
df = pd.read_csv(url)
df.head()

     id  ... reviews_per_month
0   958  ...              1.74
1  3850  ...              1.28
2  5858  ...              0.87
3  7918  ...              0.15
4  8142  ...              0.13

[5 rows x 106 columns]

In [80]:
df.shape

(8111, 106)

Data Organization

In [81]:
for i in df.columns[:]:
  print(i)

id
listing_url
scrape_id
last_scraped
name
summary
space
description
experiences_offered
neighborhood_overview
notes
transit
access
interaction
house_rules
thumbnail_url
medium_url
picture_url
xl_picture_url
host_id
host_url
host_name
host_since
host_location
host_about
host_response_time
host_response_rate
host_acceptance_rate
host_is_superhost
host_thumbnail_url
host_picture_url
host_neighbourhood
host_listings_count
host_total_listings_count
host_verifications
host_has_profile_pic
host_identity_verified
street
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
city
state
zipcode
market
smart_location
country_code
country
latitude
longitude
is_location_exact
property_type
room_type
accommodates
bathrooms
bedrooms
beds
bed_type
amenities
square_feet
price
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
minimum_nights
maximum_nights
minimum_minimum_nights
maximum_minimum_nights
minimum_maximum_nights
maximum_maximum_nights
minimum_nights_avg_ntm
maximum_nights_avg_ntm
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
calendar_last_scraped
number_of_reviews
number_of_reviews_ltm
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
requires_license
license
jurisdiction_names
instant_bookable
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification
calculated_host_listings_count
calculated_host_listings_count_entire_homes
calculated_host_listings_count_private_rooms
calculated_host_listings_count_shared_rooms
reviews_per_month

In [82]:
df.isnull().sum()

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
name                                               0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               1605
Length: 106, dtype: int64

In [83]:
def missing(df):
    print(round((df.isnull().sum() * 100/ len(df)),2).sort_values(ascending=False).head(30))
missing(df)

neighbourhood_group_cleansed    100.00
host_acceptance_rate            100.00
thumbnail_url                   100.00
xl_picture_url                  100.00
medium_url                      100.00
square_feet                      98.47
monthly_price                    87.13
weekly_price                     86.82
notes                            38.32
license                          37.12
access                           35.89
interaction                      32.35
transit                          29.77
house_rules                      26.83
host_about                       25.04
neighborhood_overview            24.88
security_deposit                 20.86
review_scores_value              20.40
review_scores_location           20.40
review_scores_checkin            20.40
review_scores_cleanliness        20.39
review_scores_accuracy           20.39
review_scores_communication      20.38
review_scores_rating             20.36
reviews_per_month                19.79
last_review                      19.79
first_review                     19.79
space                            13.98
host_response_time               11.43
host_response_rate               11.43
dtype: float64

In [84]:
for i in df.columns:
    print (i + ', Number of Missing Values:', len(df[i][df[i].isnull()]))

id, Number of Missing Values: 0
listing_url, Number of Missing Values: 0
scrape_id, Number of Missing Values: 0
last_scraped, Number of Missing Values: 0
name, Number of Missing Values: 0
summary, Number of Missing Values: 225
space, Number of Missing Values: 1134
description, Number of Missing Values: 50
experiences_offered, Number of Missing Values: 0
neighborhood_overview, Number of Missing Values: 2018
notes, Number of Missing Values: 3108
transit, Number of Missing Values: 2415
access, Number of Missing Values: 2911
interaction, Number of Missing Values: 2624
house_rules, Number of Missing Values: 2176
thumbnail_url, Number of Missing Values: 8111
medium_url, Number of Missing Values: 8111
picture_url, Number of Missing Values: 0
xl_picture_url, Number of Missing Values: 8111
host_id, Number of Missing Values: 0
host_url, Number of Missing Values: 0
host_name, Number of Missing Values: 8
host_since, Number of Missing Values: 8
host_location, Number of Missing Values: 13
host_about, Number of Missing Values: 2031
host_response_time, Number of Missing Values: 927
host_response_rate, Number of Missing Values: 927
host_acceptance_rate, Number of Missing Values: 8111
host_is_superhost, Number of Missing Values: 8
host_thumbnail_url, Number of Missing Values: 8
host_picture_url, Number of Missing Values: 8
host_neighbourhood, Number of Missing Values: 525
host_listings_count, Number of Missing Values: 8
host_total_listings_count, Number of Missing Values: 8
host_verifications, Number of Missing Values: 0
host_has_profile_pic, Number of Missing Values: 8
host_identity_verified, Number of Missing Values: 8
street, Number of Missing Values: 0
neighbourhood, Number of Missing Values: 1
neighbourhood_cleansed, Number of Missing Values: 0
neighbourhood_group_cleansed, Number of Missing Values: 8111
city, Number of Missing Values: 10
state, Number of Missing Values: 7
zipcode, Number of Missing Values: 245
market, Number of Missing Values: 21
smart_location, Number of Missing Values: 0
country_code, Number of Missing Values: 0
country, Number of Missing Values: 0
latitude, Number of Missing Values: 0
longitude, Number of Missing Values: 0
is_location_exact, Number of Missing Values: 0
property_type, Number of Missing Values: 0
room_type, Number of Missing Values: 0
accommodates, Number of Missing Values: 0
bathrooms, Number of Missing Values: 12
bedrooms, Number of Missing Values: 4
beds, Number of Missing Values: 9
bed_type, Number of Missing Values: 0
amenities, Number of Missing Values: 0
square_feet, Number of Missing Values: 7987
price, Number of Missing Values: 0
weekly_price, Number of Missing Values: 7042
monthly_price, Number of Missing Values: 7067
security_deposit, Number of Missing Values: 1692
cleaning_fee, Number of Missing Values: 924
guests_included, Number of Missing Values: 0
extra_people, Number of Missing Values: 0
minimum_nights, Number of Missing Values: 0
maximum_nights, Number of Missing Values: 0
minimum_minimum_nights, Number of Missing Values: 0
maximum_minimum_nights, Number of Missing Values: 0
minimum_maximum_nights, Number of Missing Values: 0
maximum_maximum_nights, Number of Missing Values: 0
minimum_nights_avg_ntm, Number of Missing Values: 0
maximum_nights_avg_ntm, Number of Missing Values: 0
calendar_updated, Number of Missing Values: 0
has_availability, Number of Missing Values: 0
availability_30, Number of Missing Values: 0
availability_60, Number of Missing Values: 0
availability_90, Number of Missing Values: 0
availability_365, Number of Missing Values: 0
calendar_last_scraped, Number of Missing Values: 0
number_of_reviews, Number of Missing Values: 0
number_of_reviews_ltm, Number of Missing Values: 0
first_review, Number of Missing Values: 1605
last_review, Number of Missing Values: 1605
review_scores_rating, Number of Missing Values: 1651
review_scores_accuracy, Number of Missing Values: 1654
review_scores_cleanliness, Number of Missing Values: 1654
review_scores_checkin, Number of Missing Values: 1655
review_scores_communication, Number of Missing Values: 1653
review_scores_location, Number of Missing Values: 1655
review_scores_value, Number of Missing Values: 1655
requires_license, Number of Missing Values: 0
license, Number of Missing Values: 3011
jurisdiction_names, Number of Missing Values: 42
instant_bookable, Number of Missing Values: 0
is_business_travel_ready, Number of Missing Values: 0
cancellation_policy, Number of Missing Values: 0
require_guest_profile_picture, Number of Missing Values: 0
require_guest_phone_verification, Number of Missing Values: 0
calculated_host_listings_count, Number of Missing Values: 0
calculated_host_listings_count_entire_homes, Number of Missing Values: 0
calculated_host_listings_count_private_rooms, Number of Missing Values: 0
calculated_host_listings_count_shared_rooms, Number of Missing Values: 0
reviews_per_month, Number of Missing Values: 1605

In [85]:
Unrelated_cols = ['id', 'last_scraped', 'listing_url', 'scrape_id', 'last_review', 'name', 'experiences_offered', 
                 'picture_url', 'host_id', 'host_url', 'host_name', 'host_thumbnail_url', 'host_picture_url','host_neighbourhood', 
                 'host_listings_count', 'host_total_listings_count', 'host_verifications',
                 'street','city', 'state', 'market', 'smart_location', 'country', 'country_code', 'is_location_exact', 'minimum_minimum_nights', 
                 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 
                 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'first_review', 'calendar_updated', 'has_availability', 
                 'availability_30', 'availability_60', 'availability_90', 'availability_365','calendar_last_scraped','requires_license', 'jurisdiction_names', 
                 'is_business_travel_ready', 'calculated_host_listings_count_entire_homes', 'reviews_per_month',
                 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'require_guest_profile_picture', 
                  'require_guest_phone_verification']
#All columns with more than 30% of data missing are grouped into missing columns and will be dropped from the dataset.
missing_cols = ['neighbourhood_group_cleansed', 'host_acceptance_rate', 'thumbnail_url', 'xl_picture_url', 'medium_url', 
                'square_feet', 'monthly_price', 'weekly_price', 'notes', 'license', 'access', 'interaction']
#Text columns will not be dropped from the dataset, rather they will used to conduct the Sentiment analysis using NLP.
Text_cols = ['summary', 'space', 'description', 'neighborhood_overview', 'transit','house_rules', 'host_about']
df1 = df.drop(columns=Unrelated_cols).drop(columns=missing_cols)

Data Definition

In [86]:
# Print summaries for the table again
print ("Rows     : " ,df1.shape[0])
print ("Columns  : " ,df1.shape[1])
print ("\nFeatures : \n" ,df1.columns.tolist())
print ("\nMissing values :  ", df1.isnull().sum().values.sum())
print ("\nUnique values :  \n",df1.nunique())

Rows     :  8111
Columns  :  46

Features :
 ['summary', 'space', 'description', 'neighborhood_overview', 'transit', 'house_rules', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_is_superhost', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'zipcode', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'price', 'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights', 'maximum_nights', 'number_of_reviews', 'number_of_reviews_ltm', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'instant_bookable', 'cancellation_policy', 'calculated_host_listings_count']

Missing values :   26412

Unique values :
 summary                           6523
space                             5697
description                       7182
neighborhood_overview             4567
transit                           4503
house_rules                       4267
host_since                        2323
host_location                      176
host_about                        3133
host_response_time                   4
host_response_rate                  43
host_is_superhost                    2
host_has_profile_pic                 2
host_identity_verified               2
neighbourhood                       55
neighbourhood_cleansed              37
zipcode                             44
latitude                          5059
longitude                         5179
property_type                       26
room_type                            4
accommodates                        16
bathrooms                           17
bedrooms                            10
beds                                13
bed_type                             5
amenities                         6932
price                              526
security_deposit                    94
cleaning_fee                       188
guests_included                     12
extra_people                        79
minimum_nights                      53
maximum_nights                     156
number_of_reviews                  410
number_of_reviews_ltm              133
review_scores_rating                44
review_scores_accuracy               9
review_scores_cleanliness            9
review_scores_checkin                7
review_scores_communication          8
review_scores_location               9
review_scores_value                  8
instant_bookable                     2
cancellation_policy                  6
calculated_host_listings_count      39
dtype: int64

Data Definition

In [87]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8111 entries, 0 to 8110
Data columns (total 46 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   summary                         7886 non-null   object
 1   space                           6977 non-null   object
 2   description                     8061 non-null   object
 3   neighborhood_overview           6093 non-null   object
 4   transit                         5696 non-null   object
 5   house_rules                     5935 non-null   object
 6   host_since                      8103 non-null   object
 7   host_location                   8098 non-null   object
 8   host_about                      6080 non-null   object
 9   host_response_time              7184 non-null   object
 10  host_response_rate              7184 non-null   object
 11  host_is_superhost               8103 non-null   object
 12  host_has_profile_pic            8103 non-null   object
 13  host_identity_verified          8103 non-null   object
 14  neighbourhood                   8110 non-null   object
 15  neighbourhood_cleansed          8111 non-null   object
 16  zipcode                         7866 non-null   object
 17  latitude                        8111 non-null   float64
 18  longitude                       8111 non-null   float64
 19  property_type                   8111 non-null   object
 20  room_type                       8111 non-null   object
 21  accommodates                    8111 non-null   int64
 22  bathrooms                       8099 non-null   float64
 23  bedrooms                        8107 non-null   float64
 24  beds                            8102 non-null   float64
 25  bed_type                        8111 non-null   object
 26  amenities                       8111 non-null   object
 27  price                           8111 non-null   object
 28  security_deposit                6419 non-null   object
 29  cleaning_fee                    7187 non-null   object
 30  guests_included                 8111 non-null   int64
 31  extra_people                    8111 non-null   object
 32  minimum_nights                  8111 non-null   int64
 33  maximum_nights                  8111 non-null   int64
 34  number_of_reviews               8111 non-null   int64
 35  number_of_reviews_ltm           8111 non-null   int64
 36  review_scores_rating            6460 non-null   float64
 37  review_scores_accuracy          6457 non-null   float64
 38  review_scores_cleanliness       6457 non-null   float64
 39  review_scores_checkin           6456 non-null   float64
 40  review_scores_communication     6458 non-null   float64
 41  review_scores_location          6456 non-null   float64
 42  review_scores_value             6456 non-null   float64
 43  instant_bookable                8111 non-null   object
 44  cancellation_policy             8111 non-null   object
 45  calculated_host_listings_count  8111 non-null   int64
dtypes: float64(12), int64(7), object(27)
memory usage: 2.8+ MB

In [88]:
df1.describe(include='all')

                                                  summary  ... calculated_host_listings_count
count                                                7886  ...                    8111.000000
unique                                               6523  ...                            NaN
top     At Zeus, we focus exclusively on 30 day+ stays...  ...                            NaN
freq                                                  242  ...                            NaN
mean                                                  NaN  ...                      22.329799
std                                                   NaN  ...                      54.369225
min                                                   NaN  ...                       1.000000
25%                                                   NaN  ...                       1.000000
50%                                                   NaN  ...                       2.000000
75%                                                   NaN  ...                      10.000000
max                                                   NaN  ...                     248.000000

[11 rows x 46 columns]

Data Cleaning

In [89]:
# host_response_rate has to be changed to int from object
df1['host_response_rate'] = df1['host_response_rate'].str.rstrip('%').astype('float') / 100.0

In [90]:
# zipcode has be to be changed from object to int64
df1['zipcode'].unique()

array(['94117', '94131', '94110', '94107', '94109', '94102', '94114',
       '94105', '94133', '94115', '94121', '94118', '94127', '94104',
       '94122', '94123', '94112', '94108', '94111', '94103', '94124',
       '94113', '94116', '94129', '94132', nan, '94134', '94158', '94014',
       'CA 94108', 'CA 94107', 'CA 94158', 'CA 94103', 'CA 94115',
       'CA 94109', 'CA 94117', 'CA 94102', 'CA 94131', 'CA 94105', 'CA',
       'CA 94110', 'CA 94123', 'CA 94114', '94015', '94130'], dtype=object)

In [91]:
df1['zipcode_new'] = df['zipcode'].str.extract('(\d+)').astype(float)
df1['zipcode_new'].unique()

array([94117., 94131., 94110., 94107., 94109., 94102., 94114., 94105.,
       94133., 94115., 94121., 94118., 94127., 94104., 94122., 94123.,
       94112., 94108., 94111., 94103., 94124., 94113., 94116., 94129.,
       94132.,    nan, 94134., 94158., 94014., 94015., 94130.])

In [92]:
drop_cols = ['zipcode']

In [93]:
# price columns which include price security_deposit, cleaning_fee, extra people all have "$" sign in front of all the numbers. We will need to remove the dollar sign
# and then remove anything that isn't a number
import re
price_cols = ['price','cleaning_fee','security_deposit','extra_people']
for col in price_cols:
    df1[col] = df1[col].fillna("0")
    df1[col] = df1[col].apply(lambda x: float(re.compile('[^0-9eE.]').sub('', x)) if len(x)>0 else 0)

In [94]:
# host_since column has to be converted to date time format
df1['host_since'] = pd.to_datetime(df1['host_since'])

In [95]:
#Re-run the data types for the dataset and scrutinize if there's any other column that has inappropriate data type
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8111 entries, 0 to 8110
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   summary                         7886 non-null   object
 1   space                           6977 non-null   object
 2   description                     8061 non-null   object
 3   neighborhood_overview           6093 non-null   object
 4   transit                         5696 non-null   object
 5   house_rules                     5935 non-null   object
 6   host_since                      8103 non-null   datetime64[ns]
 7   host_location                   8098 non-null   object
 8   host_about                      6080 non-null   object
 9   host_response_time              7184 non-null   object
 10  host_response_rate              7184 non-null   float64
 11  host_is_superhost               8103 non-null   object
 12  host_has_profile_pic            8103 non-null   object
 13  host_identity_verified          8103 non-null   object
 14  neighbourhood                   8110 non-null   object
 15  neighbourhood_cleansed          8111 non-null   object
 16  zipcode                         7866 non-null   object
 17  latitude                        8111 non-null   float64
 18  longitude                       8111 non-null   float64
 19  property_type                   8111 non-null   object
 20  room_type                       8111 non-null   object
 21  accommodates                    8111 non-null   int64
 22  bathrooms                       8099 non-null   float64
 23  bedrooms                        8107 non-null   float64
 24  beds                            8102 non-null   float64
 25  bed_type                        8111 non-null   object
 26  amenities                       8111 non-null   object
 27  price                           8111 non-null   float64
 28  security_deposit                8111 non-null   float64
 29  cleaning_fee                    8111 non-null   float64
 30  guests_included                 8111 non-null   int64
 31  extra_people                    8111 non-null   float64
 32  minimum_nights                  8111 non-null   int64
 33  maximum_nights                  8111 non-null   int64
 34  number_of_reviews               8111 non-null   int64
 35  number_of_reviews_ltm           8111 non-null   int64
 36  review_scores_rating            6460 non-null   float64
 37  review_scores_accuracy          6457 non-null   float64
 38  review_scores_cleanliness       6457 non-null   float64
 39  review_scores_checkin           6456 non-null   float64
 40  review_scores_communication     6458 non-null   float64
 41  review_scores_location          6456 non-null   float64
 42  review_scores_value             6456 non-null   float64
 43  instant_bookable                8111 non-null   object
 44  cancellation_policy             8111 non-null   object
 45  calculated_host_listings_count  8111 non-null   int64
 46  zipcode_new                     7865 non-null   float64
dtypes: datetime64[ns](1), float64(18), int64(7), object(21)
memory usage: 2.9+ MB